* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgba(255, 255, 255, 0.219);
}

nav {
  height: 40px;
  width: 100%;
  background-color: midnightblue;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.header-reviews {
  float: right;
  position: relative;
  font-size: 20px;
  top: 3px;
  margin: 5px;
}

.header-capname {
  float: left;
  position: relative;
  font-size: 20px;
  top: 3px;
  margin: 5px;
}

.card {
  background: crimson;
  height: 350px;
  width: 350px;
  color: white;
  padding: 20px;
  position: relative;
  top: 20px;
  left: 20px;
  display: inline-block;
  margin: 10px;
  float: left;
}

.card>span {
  font-size: 20px;
}

.card>img {
  display: block;
  height: 40px;
  width: 40px;
}

.card>p {
  margin: 10px;
  font-size: 15px;
}